* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.card-style {
  transition: all 0.5s ease-out;
  border-style: none;
  padding: 0.5rem;
  border-radius: 2rem;
  box-shadow: 0 2px 6px 0 rgba(137, 137, 137, 0.2),
    0 6px 20px 0 rgba(114, 114, 114, 0.1);
}

.card-style:hover {
  background-image: url(./assets/pastel_gradient_2.jpg);
  background-position: center;
  background-size: cover;
}

.card-title {
  font-weight: 700;
  color: #004c84;
  text-align: center;
}

.card-text {
  font-size: 14px;
  text-align: justify;
  font-weight: 500;
}

.card-ft {
  background-color: #ffffff00;
  font-size: 11px;
}

.thick-hr {
  height: 1rem;
  background-color: rgb(150, 150, 150);
}

.btn-style {
  border-radius: 2rem;
}
